pandas<2.0.0
pyodbc
numpy
seaborn
azureml.core
azure.storage.blob
matplotlib
catboost
xgboost
pytest
azure-identity
azure-keyvault
azure-keyvault-secrets
pyyaml
mlflow
mlflow-skinny
azure-ai-ml
scikit-learn
IPython
coverage
genbadge
tensorflow
tensorflow-datasets
